BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "CLK_48" SITE "A7";
IOBUF PORT "CLK_48" IO_TYPE=LVCMOS33;
FREQUENCY PORT "CLK_48" 48.0 MHz;

LOCATE COMP "LED" SITE "A6";
IOBUF PORT "LED" IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_clock" SITE "F16";
IOBUF PORT "sdram_clock" IO_TYPE=LVTTL33;
LOCATE COMP "serial_tx" SITE "B3";
IOBUF PORT "serial_tx" IO_TYPE=LVCMOS33;
LOCATE COMP "serial_rx" SITE "A2";
IOBUF PORT "serial_rx" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[0]" SITE "M13";
IOBUF PORT "sdram_a[0]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[1]" SITE "M14";
IOBUF PORT "sdram_a[1]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[2]" SITE "L14";
IOBUF PORT "sdram_a[2]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[3]" SITE "L13";
IOBUF PORT "sdram_a[3]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[4]" SITE "G12";
IOBUF PORT "sdram_a[4]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[5]" SITE "G13";
IOBUF PORT "sdram_a[5]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[6]" SITE "G14";
IOBUF PORT "sdram_a[6]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[7]" SITE "G15";
IOBUF PORT "sdram_a[7]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[8]" SITE "F12";
IOBUF PORT "sdram_a[8]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[9]" SITE "F13";
IOBUF PORT "sdram_a[9]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[10]" SITE "T15";
IOBUF PORT "sdram_a[10]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[11]" SITE "F14";
IOBUF PORT "sdram_a[11]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[12]" SITE "E14";
IOBUF PORT "sdram_a[12]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_ba[0]" SITE "P14";
IOBUF PORT "sdram_ba[0]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_ba[1]" SITE "N13";
IOBUF PORT "sdram_ba[1]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_cs_n" SITE "J16";
IOBUF PORT "sdram_cs_n" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_cke" SITE "F15";
IOBUF PORT "sdram_cke" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_ras_n" SITE "K15";
IOBUF PORT "sdram_ras_n" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_cas_n" SITE "K16";
IOBUF PORT "sdram_cas_n" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_we_n" SITE "L15";
IOBUF PORT "sdram_we_n" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[0]" SITE "R15";
IOBUF PORT "sdram_dq[0]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[1]" SITE "R16";
IOBUF PORT "sdram_dq[1]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[2]" SITE "P16";
IOBUF PORT "sdram_dq[2]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[3]" SITE "P15";
IOBUF PORT "sdram_dq[3]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[4]" SITE "N16";
IOBUF PORT "sdram_dq[4]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[5]" SITE "N14";
IOBUF PORT "sdram_dq[5]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[6]" SITE "M16";
IOBUF PORT "sdram_dq[6]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[7]" SITE "M15";
IOBUF PORT "sdram_dq[7]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[8]" SITE "E15";
IOBUF PORT "sdram_dq[8]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[9]" SITE "D16";
IOBUF PORT "sdram_dq[9]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[10]" SITE "D14";
IOBUF PORT "sdram_dq[10]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[11]" SITE "C16";
IOBUF PORT "sdram_dq[11]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[12]" SITE "C15";
IOBUF PORT "sdram_dq[12]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[13]" SITE "C14";
IOBUF PORT "sdram_dq[13]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[14]" SITE "B15";
IOBUF PORT "sdram_dq[14]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[15]" SITE "B16";
IOBUF PORT "sdram_dq[15]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dm[0]" SITE "L16";
IOBUF PORT "sdram_dm[0]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dm[1]" SITE "E16";
IOBUF PORT "sdram_dm[1]" IO_TYPE=LVTTL33;

LOCATE COMP "PMOD_A1" SITE "B10";
IOBUF PORT "PMOD_A1" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD_A2" SITE "B12";
IOBUF PORT "PMOD_A2" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD_A3" SITE "A11";
IOBUF PORT "PMOD_A3" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD_A4" SITE "B13";
IOBUF PORT "PMOD_A4" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD_A7" SITE "C10";
IOBUF PORT "PMOD_A7" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD_A8" SITE "C12";
IOBUF PORT "PMOD_A8" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD_A9" SITE "A12";
IOBUF PORT "PMOD_A9" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD_A10" SITE "C13";
IOBUF PORT "PMOD_A10" IO_TYPE=LVCMOS33;

LOCATE COMP "PMOD_B1" SITE "M1";
IOBUF PORT "PMOD_B1" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD_B2" SITE "L1";
IOBUF PORT "PMOD_B2" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD_B3" SITE "L2";
IOBUF PORT "PMOD_B3" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD_B4" SITE "L3";
IOBUF PORT "PMOD_B4" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD_B7" SITE "M2";
IOBUF PORT "PMOD_B7" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD_B8" SITE "M3";
IOBUF PORT "PMOD_B8" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD_B9" SITE "C8";
IOBUF PORT "PMOD_B9" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD_B10" SITE "A9";
IOBUF PORT "PMOD_B10" IO_TYPE=LVCMOS33;

LOCATE COMP "PMOD_C1" SITE "T14";
IOBUF PORT "PMOD_C1" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD_C2" SITE "eth_tx0";
IOBUF PORT "PMOD_C2" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD_C3" SITE "T13";
IOBUF PORT "PMOD_C3" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD_C4" SITE "R12";
IOBUF PORT "PMOD_C4" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD_C7" SITE "D6";
IOBUF PORT "PMOD_C7" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD_C8" SITE "E4";
IOBUF PORT "PMOD_C8" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD_C9" SITE "D4";
IOBUF PORT "PMOD_C9" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD_C10" SITE "C5";
IOBUF PORT "PMOD_C10" IO_TYPE=LVCMOS33;

LOCATE COMP "PMOD_D1" SITE "A5";
IOBUF PORT "PMOD_D1" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD_D2" SITE "B5";
IOBUF PORT "PMOD_D2" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD_D3" SITE "C7";
IOBUF PORT "PMOD_D3" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD_D4" SITE "B3";
IOBUF PORT "PMOD_D4" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD_D7" SITE "A2";
IOBUF PORT "PMOD_D7" IO_TYPE=LVCMOS33;

# NOTE: PMOD D8-D10 are not connected on ML1.1

LOCATE COMP "DS1_P" SITE "C1";
IOBUF PORT "DS1_P" IO_TYPE=LVDS;
LOCATE COMP "DS2_P" SITE "D1";
IOBUF PORT "DS2_P" IO_TYPE=LVDS;
